<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk tools:overrideLibrary="com.starmicronics.stario10" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".PosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />

        <activity
            android:name=".OrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".SideMenuActivity"
            android:exported="false" />

        <activity
            android:name=".ConfigurationActivity"
            android:exported="false"
            android:parentActivityName=".SideMenuActivity" />

        <activity
            android:name=".PaymentMethodsActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".TaxesAndFeesActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".TerminalListActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".PaymentTerminalActivity"
            android:exported="false"
            android:parentActivityName=".TerminalListActivity" />

        <activity
            android:name=".TableMappingActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".TableLayoutActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".AddTaxActivity"
            android:exported="false"
            android:parentActivityName=".TaxesAndFeesActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TableSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationMappingActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationTableSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".BarTabsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarTabConfigActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".OrderConfigurationActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".KitchenOrderConfigurationActivity"
            android:exported="false"
            android:parentActivityName=".OrderConfigurationActivity" />

        <activity
            android:name=".OrderTypesConfigureActivity"
            android:exported="false"
            android:parentActivityName=".OrderConfigurationActivity" />

        <activity
            android:name=".ToGoConfigureActivity"
            android:exported="false"
            android:parentActivityName=".OrderTypesConfigureActivity" />

        <activity
            android:name=".DineInConfigureActivity"
            android:exported="false"
            android:parentActivityName=".OrderTypesConfigureActivity" />

        <activity
            android:name=".BarTabConfigureActivity"
            android:exported="false"
            android:parentActivityName=".OrderTypesConfigureActivity" />

        <activity
            android:name=".OnlineOrderingConfigureActivity"
            android:exported="false"
            android:parentActivityName=".OrderTypesConfigureActivity" />

        <activity
            android:name=".OnlineOrderingBusinessHoursActivity"
            android:exported="false"
            android:parentActivityName=".OnlineOrderingConfigureActivity" />

        <activity
            android:name=".BarSeatConfigActivity"
            android:exported="false"
            android:parentActivityName=".BarTabConfigureActivity" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MenuOnlyActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiptOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".SplitPaymentActivity"
            android:exported="false"
            android:parentActivityName=".PaymentActivity" />
        <activity
            android:name=".CashPaymentActivity"
            android:exported="false"
            android:parentActivityName=".PaymentActivity" />

        <activity
            android:name=".EmployeesActivity"
            android:exported="false" />
        <activity
            android:name=".CustomersActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false"
            android:parentActivityName=".CustomersActivity" />
        <activity
            android:name=".BatchManagementActivity"
            android:exported="false" />
        <activity
            android:name=".BatchDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".TransactionActivity"
            android:exported="false" />

        <activity
            android:name=".TodaySalesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".TipsAndDiscountsHubActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".TipConfigActivity"
            android:exported="false"
            android:parentActivityName=".TipsAndDiscountsHubActivity" />
        <activity
            android:name=".TipAdjustmentActivity"
            android:exported="false" />

        <activity
            android:name=".TipActivity"
            android:exported="false"
            android:parentActivityName=".PaymentActivity" />

        <activity android:name=".ModifierManagementActivity" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrintersActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrinterDetailActivity"
            android:exported="false"
            android:parentActivityName=".PrintersActivity" />
        <activity
            android:name=".PrinterListActivity"
            android:exported="false"
            android:parentActivityName=".PrintersActivity" />
        <activity
            android:name=".AddPrinterActivity"
            android:exported="false" />
        <activity
            android:name=".ReportPreviewActivity"
            android:exported="false"
            android:parentActivityName=".ReportsActivity" />
        <activity
            android:name=".MenuPerformanceActivity"
            android:exported="false"
            android:parentActivityName=".ReportsActivity" />
        <activity
            android:name=".ItemSalesReportActivity"
            android:exported="false"
            android:parentActivityName=".MenuPerformanceActivity" />
        <activity
            android:name=".CategorySalesReportActivity"
            android:exported="false"
            android:parentActivityName=".MenuPerformanceActivity" />
        <activity
            android:name=".ModifierSalesReportActivity"
            android:exported="false"
            android:parentActivityName=".MenuPerformanceActivity" />
        <activity
            android:name=".GlobalModifierActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CashFlowActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AssignModifierToItemActivity" />
        <activity android:name=".SelectModifiersActivity"
            android:exported="false" />
        <activity android:name=".SelectTaxesActivity"
            android:exported="false" />
        <activity
            android:name=".SelectPrinterLabelActivity"
            android:exported="false" />
        <activity
            android:name=".ItemDetailActivity"
            android:exported="false"
            android:parentActivityName=".MenuOnlyActivity" />

        <activity
            android:name=".InventoryConfigActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".DiscountsActivity"
            android:exported="false"
            android:parentActivityName=".TipsAndDiscountsHubActivity" />

        <activity
            android:name=".ReceiptDisplayConfigActivity"
            android:exported="false"
            android:parentActivityName=".ConfigurationActivity" />

        <activity
            android:name=".ViewEditReceiptActivity"
            android:exported="false"
            android:parentActivityName=".ReceiptDisplayConfigActivity" />

        <activity
            android:name=".AddDiscountActivity"
            android:exported="false"
            android:parentActivityName=".DiscountsActivity" />

        <activity
            android:name=".ItemSelectorActivity"
            android:exported="false" />

    </application>

</manifest>